:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  font-family: 'Courier Prime', serif;

  background-color: rgba(240, 240, 240, 1);
  color: black;

  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.gen-ui-text {
}

.gen-ui-container {
  border-radius: 10px;
  padding: 2rem 3rem;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  position: relative;
  margin: 2rem;
}

.gen-ui-heading {
}

.gen-ui-dialog {
  padding: 0.5rem 0;
}

.gen-ui-dialog-heading {
}

.gen-ui-dialog-button-container {
  display: flex;
  width: auto;
}

.gen-ui-dialog-button {
  font-family: 'Courier Prime', serif;
  margin-right: 1rem;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  color: black;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.15);
  }

  &:active {
    transform: scale(0.985);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  }
}

.gen-ui-form {
  margin: 0.5rem 0;
  padding: 0.5rem 0;

  & > button {
    font-family: 'Courier Prime', serif;
    margin-right: 1rem;
    padding: 0.5rem 1rem;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    color: black;
  }
}

.gen-ui-form-fields-container {
  display: flex;
  flex-direction: column;

  & > input {
    color: black;
    width: 80%;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    transition:
      border-color 0.3s ease,
      box-shadow 0.3s ease;
    background: #fafafa;
  }
}
